body {
    background-color: blue;
  }
  
  .error {
    color: red;
    margin-top: 5px;
  }
  
  .login-container {
    width: 440px;
    height: 520px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 8%;
  }
  
  .logo-image {
    width: 400px;
    height: auto;
    margin-bottom: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 10px;
  }

  .form-group button {
    margin-top: 15px;
    align-self: flex-end;
  }

  
  .input-prefix-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }


  .input-prefix {
    background-color: #eeeeee;
    color: #777777;
    padding: 10px 13px;
    border-right: 2px solid #ccc;
  }

  .form-control {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: end;
    padding: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer .logo {
    max-width: 9%;
    height: auto;
    margin-right: 50px;
  }

  .logo {
    padding-bottom: 80px;
  }

  button {
    background-color: #00B5BD;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }


  .github-link {
    margin-right: 5px;
  }
  
  .github-icon {
    width: 25px;
  }

  .author {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
  }
  
  .author span {
    margin-right: 5px;
  }
  
  .author .github-icon {
    vertical-align: middle;
  }